body {
  padding-top: 56px;
  color: #36474F;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #36474F;
  -webkit-transition: width 2s linear 1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s linear 1s;
  font-size: 0.8rem;
  text-decoration: none;
}

a:hover,
.active {
  color: #36474F;
  font-weight: bold;
  text-decoration: none;
}

/* titulos */

h1 {
  font-weight: bold;
}

.text-blue-50 {
  color: #63727B;
}

/* textos */
p {
  letter-spacing: 1px;
}

.letter-spacing-sm {
  letter-spacing: 0px;
}

.small-text {
  font-size: 0.7rem;
}


/* botones */

.btn {
  font-size: 0.7rem;
}

.btn-outline {
  border: 2px solid #36474F;
  text-transform: uppercase;
}

.btn-outline:hover {
  background: #36474F;
  color: #ffffff;
}

.nav-item .btn-outline:hover {
  background: #EA202D;
  border: 2px solid #EA202D;
  color: #ffffff;
}

.btn-dark {
  background: #122026;
  text-transform: uppercase;
  border: 2px solid #122026;
}

.btn-dark:hover {
  background: #36474F;
  color: #ffffff;
  border: 2px solid #36474F;
}

/* iconos */
.fa-md {
  padding-right: 0.2rem;
  margin-right: 0.2rem;
  vertical-align: initial;
  line-height: 28px;
}

.fa-xl {
  font-size: 2em;
  vertical-align: -.4em;
}

/* elementos */

.separador {
  width: 60px;
  height: 5px;
  background-color: #EA202D;
}

.separador-sm {
  width: 60px;
  height: 2px;
  background-color: #EA202D;
}

.separador-dark {
  width: 60px;
  height: 5px;
  background-color: #122026;
}

.separador-blanco {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.numbers {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #EA202D;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.card {
  border: 0px solid;
}


/* footer */

footer a,
footer p {
  color: #ffffff;
  font-size: 0.7rem;
}

footer h6 {
  color: #ffffff;
}

footer a:hover {
  color: #EA202D;
  text-decoration: none;
}

/* backgrounds */

.bg-gray {
  background-color: #F2F2F2;
}

.bg-red {
  background-color: #EA202D;
}

.bg-blue {
  background-color: #36474F;
}

.bg-darkblue {
  background-color: #122026;
}

/* cartas */
.card {
  box-shadow: 0px 5px 20px 0px rgba(0, 10, 30, 0.1);
}

.card:hover .card-hover {
  opacity: 1;
  transition: top 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info {
  text-align: left;
  font-size: 0.8rem;
  line-height: 24px;
  z-index: 20;
}

.card .card-img-top {
  transition: opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card:hover .card-img-top {
  opacity: 0.05;
  transition: opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card .card-title {
  background-color: #EA202D;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: #ffffff;
  margin-bottom: 0px;
}

<<<<<<< HEAD=======
/* carta about us - splitted */


.card-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 2;
}

.bigcard {
  min-height: 600px;
}

.bigcard:hover .card-hover {
  opacity: 1;
  color: #ffffff;
  transition: opacity 0.4s;
}

>>>>>>>12596f44d5eaef1db9fa31d5861ed710d538d66f #howitworks .container-fluid {
  background-image: url("../images/join-us_background.jpg");
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.bigcard .card-info {
  background-color: #ffffff;
  color: #36474F;
}

.card-content {
  position: relative;
  width: 100%;
}



.founders-name {
  font-weight: bold;
}

#howitworks .join-us-form {
  /*background-image: url("../images/join-us_background.jpg");*/
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#howitworks .join-us-form .input-group {
  background-color: #EA202D;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  border-radius: .25em;
}

#howitworks .join-us-form .input-group input {
  width: 80%;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  border-radius: .25em;
}

#howitworks .join-us-form .input-group input::placeholder {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border-radius: .25em;

}


#howitworks .join-us-form .girl {
  position: absolute;
  right: -145px;
  top: -150px;
}

@media only screen and (max-width: 768px) {
  #howitworks .join-us-form .girl {
    width: 178px;
    right: -112px;
    top: -122px;
  }


}

@media only screen and (max-width: 500px) {
  #howitworks .join-us-form .girl {
    width: 133px;
    right: -71px;
    top: -89px;
  }


}

label {
  display: inline-block;
  width: 77%;

}

/* Hide the file input using
opacity */
[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

input,
[type=file]+label {
  border: 1px solid #CCC;
  padding: 10px;
  width: 80%;
  margin: 0;
  left: 0;
  position: relative;
  border-radius: .25em;
  width: 77%;

}

[type=file]+label {
  text-align: center;

  /* Decorative */
  background: white;
  color: #EA202D;
  border: none;
  cursor: pointer;
}

[type=file]+label:hover {
  background: #EA202D;
  color: white;
  border: 1px solid white;
}


#howitworks .join-us-form .hide-padding {
  padding: 0;
  height: 75px;
}

#howitworks .join-us-form .input-group textarea {
  resize: none;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  border-radius: .25em;

}

#howitworks .join-us-form .input-group::placeholder {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}

#howitworks .join-us-form form p {
  font-size: 45px;
  font-weight: bold;
  color: #36474F;
}

#howitworks .join-us-form #send-button {
  background: #122026;
  width: 100px;
  color: white;

}

.contact-section {
  height: 100vh;
  background-image: url("images/join-us_background.jpg");
}


/*******  OUR TEAMS CARDS ******/
.team-cards {
  box-shadow: 4px 4px 12px 0px #80808040;
  ;
  min-height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 0;
}

.c-1 {
  background-color: white;
}

.c-2 {
  background-color: #fc6054;
}

.c-3 {
  background-color: #ea202d;
}

.c-4 {
  background-color: #122026;
}

.team-cards .counter,
.team-cards .description {
  padding-left: 25px;
}

.team-cards .counter {
  font-weight: bold;
  font-size: 40px;
  line-height: 51.82px;
  position: relative;
  top: 4.61px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}


.team-cards .description {
  max-width: 180px;
  text-align: left;
}


.team-cards .description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  position: relative;
  top: 2.78px;
  color: #fff;
}

.c-1 .counter,
.c-1 .description p {
  color: #122026;
}

.c-3 .counter::after {
  content: '+';
  color: white;
  font-size: 40px;
  margin-left: 5px;
}

@media only screen and (max-width:768px) {
  .team-cards {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width:500px) {
  .team-cards {
    min-height: 253px
  }

  .team-cards .counter,
  .team-cards .description {
    padding-left: 7px;
  }
}