body {
  padding-top: 56px;
  color: #36474F;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #36474F;
  -webkit-transition: width 2s linear 1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s linear 1s;
  font-size: 0.8rem;
  text-decoration: none;
}

a:hover,
.active {
  color: #36474F;
  font-weight: bold;
  text-decoration: none;
}

/* titulos */

h1 {
  font-weight: bold;
}

.text-blue-50 {
  color: #63727B;
}

/* textos */
p {
  letter-spacing: 1px;
}

.letter-spacing-sm {
  letter-spacing: 0px;
}

.small-text {
  font-size: 0.7rem;
}


/* botones */

.btn {
  font-size: 0.7rem;
}

.btn-outline {
  border: 2px solid #36474F;
  text-transform: uppercase;
}

.btn-outline:hover {
  background: #36474F;
  color: #ffffff;
}

.nav-item .btn-outline:hover {
  background: #EA202D;
  border: 2px solid #EA202D;
  color: #ffffff !important;
}

.btn-dark {
  background: #122026;
  text-transform: uppercase;
  border: 2px solid #122026;
}

.btn-dark:hover {
  background: #36474F;
  color: #ffffff;
  border: 2px solid #36474F;
}

/* iconos */
.fa-md {
  padding-right: 0.2rem;
  margin-right: 0.2rem;
  vertical-align: initial;
  line-height: 28px;
}

.fa-xl {
  font-size: 2em;
  vertical-align: -.4em;
}

/* elementos */

.separador {
  width: 60px;
  height: 5px;
  background-color: #EA202D;
}

.separador-sm {
  width: 60px;
  height: 2px;
  background-color: #EA202D;
}

.separador-dark {
  width: 60px;
  height: 5px;
  background-color: #122026;
}

.separador-blanco {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.numbers {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #EA202D;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.card {
  border: 0px solid;
}


/* footer */

footer a,
footer p {
  color: #ffffff;
  font-size: 0.7rem;
}

footer h6 {
  color: #ffffff;
}

footer a:hover {
  color: #EA202D;
  text-decoration: none;
}

/* backgrounds */

.bg-gray {
  background-color: #F2F2F2;
}

.bg-red {
  background-color: #EA202D;
}

.bg-blue {
  background-color: #36474F;
}

.bg-darkblue {
  background-color: #122026;
}

.bg-dark {
  background-color: #122026 !important;
}

/* cartas */
.card {
  box-shadow: 0px 5px 20px 0px rgba(0, 10, 30, 0.1);
  transition: opacity 0.3s;
}

.card:hover .card-hover {
  opacity: 1;

}

.card-info {
  text-align: left;
  font-size: 0.8rem;
  line-height: 24px;
  z-index: 20;
  transition: opacity 0.1s;
}

.card .card-img-top {
  transition: opacity 0.3s;
}

.card:hover .card-img-top {
  opacity: 0.05;
}

.card .card-title {
  background-color: #EA202D;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: #ffffff;
  margin-bottom: 0px;
}


/* carta about us - splitted */


.card-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2;
  height: 100%;
}

.bigcard {
  min-height: 500px;
}
@media only screen and (max-width: 500px) {
  .bigcard {
    min-height: 600px;
  }
}


.bigcard:hover .card-hover {
  opacity: 1;
  color: #ffffff;
}

#howitworks .container-fluid {
  background-image: url("../images/join-us_background.jpg");
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.bigcard .card-info {
  background-color: #ffffff;
  color: #36474F;
}

.card-content {
  position: relative;
  width: 100%;
  transition: opacity .5s;    
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  height: 100%;
}

.comments-card {
  transition: opacity .5s;
  background: none;
  border: 2px solid #EA202D;
  border-radius: 0;
  height: 97%;
}

.comments-card:hover .card-content {
  position: relative;
  width: 100%;
  opacity: 0;
}

.comments-card:hover {
  -webkit-box-shadow:inset 0px 0px 0px 10px #ea202d;
  -moz-box-shadow:inset 0px 0px 0px 10px #ea202d;
  box-shadow:inset 0px 0px 0px 10px #ea202d;
}

/******* FOUNDERS CARDS ********/

.founders-red:hover .card-content {
  background: #ea202d;
}

.founders-blue:hover .card-content {
  background: #122026;
}

.founders-name {
  font-weight: bold;
}

#howitworks .join-us-form {
  /*background-image: url("../images/join-us_background.jpg");*/
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#howitworks .join-us-form .input-group {
  background-color: #EA202D;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  border-radius: .25em;
}

#howitworks .join-us-form .input-group input {
  width: 80%;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  border-radius: .25em;
}

#howitworks .join-us-form .input-group input::placeholder {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border-radius: .25em;

}


#howitworks .join-us-form .girl {
  position: absolute;
  right: -145px;
  top: -150px;
}

@media only screen and (max-width: 768px) {
  #howitworks .join-us-form .girl {
    width: 178px;
    right: -112px;
    top: -122px;
  }


}

@media only screen and (max-width: 500px) {
  #howitworks .join-us-form .girl {
    width: 133px;
    right: -71px;
    top: -89px;
  }


}

label {
  display: inline-block;
  width: 77%;

}

/* Hide the file input using
opacity */
[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

input,
[type=file]+label {
  border: 1px solid #CCC;
  padding: 10px;
  width: 80%;
  margin: 0;
  left: 0;
  position: relative;
  border-radius: .25em;
  width: 77%;

}

[type=file]+label {
  text-align: center;

  /* Decorative */
  background: white;
  color: #EA202D;
  border: none;
  cursor: pointer;
}

[type=file]+label:hover {
  background: #EA202D;
  color: white;
  border: 1px solid white;
}


#howitworks .join-us-form .hide-padding {
  padding: 0;
  height: 75px;
}

#howitworks .join-us-form .input-group textarea {
  resize: none;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  border-radius: .25em;

}

#howitworks .join-us-form .input-group::placeholder {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}

#howitworks .join-us-form form p {
  font-size: 45px;
  font-weight: bold;
  color: #36474F;
}

@media only screen and (max-width:768px) {
  #howitworks .join-us-form form p {
    font-size: 35px;

  }
}

@media only screen and (max-width:500px) {
  #howitworks .join-us-form form p {
    font-size: 25px;

  }
}

#howitworks .join-us-form #send-button {
  background: #122026;
  width: 100px;
  color: white;
  cursor: pointer;

}

#howitworks .join-us-form #send-button:hover {
  background: #ea202d;
  width: 100px;
  color: white;

}

.contact-section {
  height: 100vh;
  background-image: url("images/join-us_background.jpg");
}

/*******  CAROOUSEL CLIENTS ******/

.feedback .owl-nav {
  position: relative;
}

.feedback .owl-nav button.owl-prev,
.feedback .owl-nav button.owl-next {
  position: absolute;
  top: -200px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #36474f;
  color: #36474f;
}


.feedback .owl-nav [class*='owl-']:hover {
  background: none;
  color: inherit;
}


.feedback .owl-nav button:focus .feedback .owl-nav button:focus {
  border: none;
}

.feedback .owl-nav button.owl-prev span,
.feedback .owl-nav button.owl-next span {
  font-size: 26px;
  height: 0;
  line-height: 22px;
}


.feedback .owl-nav button.owl-prev {
  left: 0
}

.feedback .owl-nav button.owl-next {
  right: 0;
}

.comment-client {
  border: 2px solid #36474f;
  width: 86%;
  margin: auto;
  padding: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.comment-client .image {
  width:100%;
  height:100%;
  text-align: center
}

.info-client {
  margin-left: 33px;
}

.info-client .name-client {
  text-align: left;
  margin-bottom: 15px;
}

.info-client .name-client::after {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 6px solid #ea202d;
}

.info-client .name-client h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #36474F;
  margin: 0;
}

.info-client .name-client h4 {
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #63727B;
  margin-bottom: 10px;
}

.info-client p {
  font-style: italic;
  font-size: 17px;
  line-height: 24px;
  color: #36474F;
}

@media only screen and (max-width:500px) {
  .comment-client {
    width: 100%;
    margin: 0;
    padding: 10px;    
    flex-direction: column;
  }
  .comment-client .image{
    height: 350px;
    overflow: hidden;
  }
  .info-client {
    margin-left:0;
    margin-top:20px;
  }
  .feedback .owl-nav button.owl-prev,
  .feedback .owl-nav button.owl-next {
    position: relative;
    top:0;
  }
  .feedback {
    margin-bottom:20px;
  }
  .info-client p {
    font-size: 14px;
  }
}


/*******  OUR TEAMS CARDS ******/
.team-cards {
  box-shadow: 4px 4px 12px 0px #80808040;
  ;
  min-height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 0;
}

.c-1 {
  background-color: white;
}

.c-2 {
  background-color: #fc6054;
}

.c-3 {
  background-color: #ea202d;
}

.c-4 {
  background-color: #122026;
}

.team-cards .counter,
.team-cards .description {
  padding-left: 25px;
}

.team-cards .counter {
  font-weight: bold;
  font-size: 40px;
  line-height: 51.82px;
  position: relative;
  top: 4.61px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}


.team-cards .description {
  max-width: 180px;
  text-align: left;
}


.team-cards .description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  position: relative;
  top: 2.78px;
  color: #fff;
}

.c-1 .counter,
.c-1 .description p {
  color: #122026;
}

.c-3 .counter::after {
  content: '+';
  color: white;
  font-size: 40px;
  margin-left: 5px;
}

@media only screen and (max-width:768px) {
  .team-cards {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width:500px) {
  .team-cards {
    min-height: 253px
  }

  .team-cards .counter,
  .team-cards .description {
    padding-left: 7px;
  }
}

.img-ourtalent {
  max-width: 490px;
}

.img-tech {
  max-width: 900px;
}

section:before {
  height: 54px;
  content: "";
  display:block;
 }
.modal-dialog {
  height: 100%;
  width: 100%;
}




#builder .create-team,
.design-team,
.create-2, .create-3 .technology, .create-3 .myteam, .create-4, .create-5, .design-1, .design-2{
  height: 450px;
  padding-left: 31px;
}

#builder .create-team {
  background-color: #122026;
}

#builder .design-team {
  background-color: #EA202D;
}


#builder .create-team,
.create-2, .create-3, .create-4, .create-5 {
  background-color: #122026;
}

#builder .create-team span,
.design-team span {
  display: block;
}

#builder .create-team p,
.design-team p {
  color: white;
}

#builder .create-team h3,
.design-team h3 {
  font-weight: bold;
  color: white;
}

#builder .create-team button {
  margin-top: 22px;
  width: 70px;
  background-color: #EA202D;
  border: 1px solid #EA202D;
  cursor: pointer;
  z-index: 9999;
}

#builder .create-team button:hover {
  border: 1px solid white;
  background-color: #122026;

}


#builder .design-team button {
  margin-top: 22px;
  width: 70px;
  background-color: #122026;
  border: 1px solid #122026;
  cursor: pointer;
  z-index: 9999;
}

#builder .design-team button:hover {
  background-color: #EA202D;
  border: 1px solid white;

}


.modal-content {
  background-color: transparent;
  border: 0;

}

.create-2 p {
  color: white;
  width: 370px;
}

.create-2 button, .create-3 button, .create-4 button, .create-5 button{
  width: 60px;
  margin-top: 25px;
  background-color: #ea202d;
  border: 1px solid #ea202d;
  cursor: pointer;
}

.create-2 button:hover, .create-3 button:hover, .create-4 button:hover, .create-5 button:hover{
  border: 1px solid white;
  background-color: #122026;

}

.hide {
  display: none !important;
}

.create-3 h3, .create-4 h3 {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.create-3 .pill-area {
  height: 68%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.create-3 .pill-area .badge, .pill-area-add .badge{
padding: 22px 13px;
height: 45px;
width: 45px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-right: 12px;
margin-bottom: 12px;
background-color: #FC523A;
cursor: pointer;
}

.create-3 .pill-area .badge:hover, .pill-area-add .badge:hover {
background-color: #EA202D;
}

.create-3 .pill-area-add {
  height: 223px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}


.create-4 form {
  width: 90%;
}


.create-4 form label {
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.create-4 form .form-control {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #122026;
  border-radius: 0;
  height: calc(1.25rem + 2px);
  margin-bottom: 15px;
  padding: 5px;
  color: white;
}


.create-4 .form-control:focus {
  border-width: 0 0 2px;
  border-color: white;
  background-color: #122026;
  border-radius: 0;
  border-color: #122026;
  box-shadow: 0 1px 1px #122026 inset, 0 0 8px #122026;
  outline: 0 none;
}


.create-4 h5{
font-weight: bold;
font-size: 13px;
color: white;
}

.create-4 form textarea.form-control {
height: 60%;
background-color: #546267;
border: 1px solid white;
border-radius: 5px;
color: white;
font-size: 13px;
resize: none;
}

.create-4 form textarea.form-control::placeholder {
  font-size: 12px;
  color: rgb(192, 192, 192);
  }
  
.create-4 form textarea.form-control:focus {
  background-color: #546267;
border: 1px solid white;
border-radius: 5px;
}

.create-4 button {
  width: 108px;
}
.create-5 .row{
width: 100%;
  }
  

.create-5 i{
height: 60px;
width: 60px;
background-color: #546267;
border-radius: 50px;
border: 3px solid white;
color: white;
font-size: 20px;
}

.create-5 h3 {
  font-weight: bold;
  color: white;
  font-size: 18px;
}


.create-5 h5 {
  color: white;
  font-size: 20px;
}

.create-5 p {
  text-align: center;
  color: white;
  font-size: 15px;
}

.create-5 span {
display: block;
  color: white;
  font-size: 13px;
}

.create-5 .separator {
background-color: white;
height: 1px;
width: 40%;;
  }







  #builder .design-1, .design-2 {
  background-color: #EA202D;
}

.design-1 h3{
  font-weight: bold;
  font-size: 18px;
  color: white;

}

.design-1 .separador{
background-color: #122026;

}


.design-1 button, .design-2 button{
  width: 60px;
  margin-top: 25px;
  background-color: #122026;
  border: 1px solid #122026;
  cursor: pointer;
}

.design-1 button:hover, .design-2 button:hover{
  border: 1px solid white;
  background-color: #EA202D;

}



.design-1 form{
  width: 90%;
}


.design-1 form label {
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.design-1 form .form-control {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #EA202D;
  border-radius: 0;
  height: calc(1.25rem + 2px);
  margin-bottom: 15px;
  padding: 5px;
  color: white;
}

.design-1 form .form-control::placeholder {

  color: white;
}


.design-1 .form-control:focus {
  border-width: 0 0 2px;
  border-color: white;
  background-color: #EA202D;
  border-radius: 0;
  border-color: #EA202D;
  box-shadow: 0 1px 1px #EA202D inset, 0 0 8px #EA202D;
  outline: 0 none;
}


.design-1 h5{
font-weight: bold;
font-size: 13px;
color: white;
}

.design-1 form textarea.form-control {
height: 60%;
background-color: white;
border: 1px solid white;
border-radius: 5px;
color: #122026;
font-size: 13px;
resize: none;
}

.design-1 form textarea.form-control::placeholder {
  font-size: 12px;
  color: #122026;
  }
  
.design-1 form textarea.form-control:focus {
  background-color: white;
border: 1px solid white;
border-radius: 5px;
}

.design-1 button {
  width: 108px;
}




.design-2 .row{
  width: 100%;
    }
    
  
  .design-2 i{
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 50px;
  border: 3px solid white;
  color: white;
  font-size: 20px;
  }
  
  .design-2 h3 {
    font-weight: bold;
    color: white;
    font-size: 18px;
  }
  
  
  .design-2 h5 {
    color: white;
    font-size: 20px;
  }
  
  .design-2 p {
    text-align: center;
    color: white;
    font-size: 15px;
  }
  
  .design-2 span {
  display: block;
    color: white;
    font-size: 13px;
  }
  
  .design-2 .separator {
  background-color: white;
  height: 1px;
  width: 40%;;
    }
  

.img-client {
  max-width: 130px;
  width: 100%;
}

.comment-red {
  color: #EA202D;
}